/* ===== FONT GOOGLE ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Source+Serif+Pro:wght@400;600&display=swap");

/* ===== Add the Tailwind directives to your CSS ===== */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== REUSABLE CSS ===== */
@layer components {
  /* section class */
  .section {
    @apply pt-32 pb-16;
  }
  .section-title {
    @apply font-title font-semibold text-[38px] text-gray-900 pb-4 sm:text-[42px] xl:text-[56px];
  }
  .section-text {
    @apply text-[15px] text-gray-600 pb-8 leading-text;
  }

  /* container class */
  .container {
    @apply max-w-[1200px] w-[calc(100%-3rem)] mx-auto;
  }

  /* button class */
  .button {
    @apply h-[55px] flex justify-center items-center py-4 px-8 bg-green-600 text-[15px] font-semibold text-white;
  }
}

/* ===== HEADER SECTION ===== */
@media screen and (max-width: 767px) {
  .header__menu {
    @apply fixed w-[80%] top-28 left-0 right-0 mx-auto text-center p-8 bg-gray-100 shadow-[0_0_12px_rgba(0,0,0,0.1)] transition-all duration-300 opacity-0 scale-y-0 origin-top;
  }
}
.header__link {
  @apply text-[15px] text-gray-900 hover:text-green-600;
}
/* show menu */
.header__menu.show-menu {
  @apply opacity-100 scale-y-100;
}
/* sticky header */
.header.sticky-action {
  @apply bg-gray-100 shadow-[0_2px_12px_rgba(0,0,0,0.1)];
}

/* ===== BOOKS SECTION ===== */
.books__content {
  @apply grid p-2 ring-2 ring-[rgba(0,0,0,0.1)] transition-all duration-300 hover:ring-white hover:bg-white hover:shadow-[0_2px_12px_rgba(0,0,0,0.1)];
}
.books__content-overlay {
  @apply grid py-12 bg-[rgb(233,236,239)];
}
.books__content-img {
  @apply w-[130px] shadow-[8px_8px_12px_rgba(0,0,0,0.2)] justify-self-center;
}
.books__content-data {
  @apply pt-8 pb-4;
}
.books__content-title {
  @apply text-[22px] text-gray-900 font-medium font-title capitalize mb-1;
}
.books__content-author {
  @apply text-[15px] text-gray-600 mb-6;
}
.books__content-price {
  @apply text-[18px] text-green-600 font-semibold;
}
/* cutoff content */
.content-cutoff {
  --max-line: 1;

  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-line);
}

/* ==== ABOUT SECTION ===== */
.about__tags {
  @apply text-left;
}
.about__tags-number {
  @apply text-[38px] text-gray-900 font-title font-semibold lg:text-[42px];
}
.about__tags-text {
  @apply text-[14px] text-gray-600;
}

/* ===== TESTIMONIAL SECTION ===== */
.testimonial__content {
  @apply grid gap-8 p-8 border-2 border-solid border-[rgba(0,0,0,0.1)] transition-all duration-300;
}
.testimonial__content-rating {
  @apply flex items-center gap-2;
}
.testimonial__content-star {
  @apply inline-flex text-[1.5rem] text-yellow-500;
}
.testimonial__content-name {
  @apply text-[22px] text-gray-900 font-title font-semibold mb-1;
}
/* text cutoff */
.testimonial__content-text {
  --max-line: 5;

  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-line);
}
/* swiper active */
.testimonial__content.swiper-slide-active {
  @apply border-white bg-white shadow-[0_0_12px_rgba(0,0,0,0.1)];
}
/* swiper pagination */
.testimonial__container {
  @apply overflow-hidden;
}
.testimonial__container .swiper-pagination {
  @apply static;
}
.testimonial__container .swiper-pagination-bullet {
  @apply w-2 h-2 bg-gray-600 transition-all duration-300;
}
.testimonial__container .swiper-pagination-bullet-active {
  @apply w-8 h-2 bg-green-600 rounded-full;
}

/* ===== FOOTER SECTION ===== */
.footer__data-icon {
  @apply inline-flex text-[1.5rem] text-green-600;
}
.footer__content-title {
  @apply text-[24px] text-gray-900 font-title font-semibold mb-6;
}
.footer__content-list {
  @apply flex flex-col gap-3;
}
.footer__content-link {
  @apply text-[15px] text-gray-600 hover:text-green-600 hover:underline;
}

/* ===== SCROLLUP SECTION ===== */
.scroll-action {
  @apply bottom-12;
}

/* ===== ::SELECTION ===== */
::selection {
  @apply bg-green-600 text-white;
}
